.notification {
  background: lightgrey;
  border-style: solid;
  border-color: lightgreen;
  border-radius: 5px;
  font-size: larger;
  padding: 5px;
  margin-bottom: 2px;
  color: darksalmon;
}

.error {
    background: yellow;
    border-style: solid;
    border-color: chocolate;
    border-radius: 5px;
    font-size: larger;
    padding: 5px;
    margin-bottom: 2px;
    color: red;
}
